.comming-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  img {
    margin-bottom: 10px;
  }
  h1 {
    font-size: 65px;
    font-weight: 900;
    color: rgb(65, 65, 65);
    margin-bottom: 10px;
  }
  p {
    font-size: 28px;
    letter-spacing: 4px;
    color: rgb(122, 122, 122);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 100;
    margin-bottom: 30px;
  }
}

.follow {
  display: flex;
  align-items: center;
  img {
    margin-left: 10px;
  }
}
